@charset "ISO-8859-1";

.topnav{
	text-align:top-right;
	top:40%;
	left:50%;
	position:absolute;
	transform: translate(-50%, -50%);
	margin:5px;
}

h2{
	color: yellow;
}

#a1{
	
	background-color:red;
	height:60px;
	width:150px;
	text-align:center;
	padding:0px;
	margin:12px;
}